<% if (errors.length) { %>
    <% errors.forEach((error) => { %>
      <p class="error">Error: <%= error %></p>
    <% }) %>
  <% } %>
  <% if (info.length) { %>
    <% info.forEach((message) => { %>
      <p class="info">Info: <%= message %></p>
    <% }) %>
  <% } %>
