<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <header class="jumbotron" align="center">
    <h1>SmartList</h1>
    <div>
      Current User:
      <%=user%>
        <form method="POST" action="/logout">
          <input type="submit" value="Logout">
        </form>
    </div>
  </header>
  <main align="center">
    <form class="submit-item" action="/api/items" method="POST">
      <input class="submit-text-input" type="text" name="name" placeholder="to-do item"></input>
      <input type="submit" value="Submit" class="btn-primary btn-sm">
    </form>
    <div class="buttons">
      <a href="/watch" class="watch btn btn-primary btn-lg"> WATCH <i class="fa fa-film" aria-hidden="true"></i></a>
      <a href="/read" class="read btn btn-primary btn-lg"> READ <i class="fa fa-book" aria-hidden="true"></i></a>
      <a href="/buy" class="buy btn btn-primary btn-lg"> BUY <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      <a href="/eat" class="eat btn btn-primary btn-lg"> EAT <i class="fa fa-cutlery" aria-hidden="true"></i></a>
    </div>
  </main>
</body>

</html>
