body {
  .jumbotron {
    background-color: #dad7d7;
    padding: 2em 1rem;
    border-radius: 0;

    form {
      .btn-primary {
        background-color: #f4f4f4;
        border-color: #a6a6a6;
        color: black;
        margin-top: 10px;
        text-align: center;
        width: 80px;

        padding: .375rem .75rem;
      }

      .btn-primary:hover {
        cursor: pointer;
        background-color: grey;
      }
    }
  }

  main {
    .buttons {
      margin-top: 5em;
      margin-bottom: 5em;
      .btn-primary {
        padding: 50px;
      }

      a {
        width: 300px;
      }
    }
  }

  .btn-primary {
    color: #fff;
    background-color: rgba(0, 123, 255, 0);
    border-color: rgb(183, 188, 194);
  }

  .btn-primary:hover {
    color: #fff;
    background-color: rgba(53, 54, 54, 0.5);
    border-color: rgb(183, 188, 194);
    cursor: pointer;
  }
}
