body {

  main {
    ul {
      li {
        input:hover {
          cursor: pointer;
        }
        p:hover {
          cursor: pointer;
        }
      }
    }
    section{
      display: none;
    }
  }
}
