body {
  .jumbotron {
    border-radius: 0;
    background-color: #dad7d7;
    padding: 2em 1rem;
  }

  .jumbotron.description-box {

    border-radius: 10px;
    background-color: #fff;
  }

  .fa-home:before {
    content: "\f015";
    color: #f25c54;
  }

  h3 {
    display: inline-block;
    color: white;
    font-weight: normal;
  }

  h4 {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1em;
  }

  h5 {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
  }

  .input-button {
    margin-left: 10px;
  }
  .delete-form {
    float: right;
  }

  .form-group {
    display: inline-block;
    float: right;
  }

  .list-group {
    width: 90%;
    margin: auto;
  }

  .list-group-item {
    /*background-color: silver*/
    background-color: #2686b2;
    border-radius: 5px;
    border: solid white thin;
    margin-bottom: 10px;
    label {
      font-weight: bold;
    }
  }

  .list-group-item:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

input:hover {
  cursor: pointer;
}

section {
  display: none;
}

.item-name:hover {
  cursor: pointer;
  color: #F25C54;
}

.btn-primary {
  background-color: #f4f4f4;
  border-color: #a6a6a6;
  color: black;
  margin-top: 10px;
  text-align: center;
  width: 80px;
}

.btn-primary:hover {
  background-color: grey;
}
