body {

  .login-button {
    background-color: #2686b2;
    margin-left: 1em;
    border-radius: 5px;
    margin-left: 1em;
  }

  .jumbotron {
    background-color: #dad7d7;
    padding: 2em 1rem;
    border-radius: 0;

    .btn-primary {
      color: #fff;
      background-color: #2686b2;
      border-color: #2686b2;
      padding: 8px 16px 8px 16px;
    }

    .btn-primary:hover {
      background-color: rgba(53, 54, 54, 0.7);
      border-color: #b7bcc2;
    }

    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      margin-left: 1em;
    }

    h1 {
      font-size: 2.5rem;
      margin-left: 2em;
    }
  }
  p {
    font-size: 1.5em;
  }
}
